body {
  background-color: rgb(172, 204, 252);
  margin: 0;
  font-family: Arial, sans-serif;
}

.cabecalho {
  background-color: rgb(50, 79, 243);
  padding: 30px;
  text-align: center;
}

.cabecalho h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 10px;
}

.cabecalho p {
  color: white;
  font-size: 22px;
  margin: 0;
}

.faixa-clube {
  background-color: rgb(55, 55, 240);
  text-align: center;
  padding: 50px;
  margin-bottom: 10px;
}

.faixa-clube h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.faixa-clube p {
  color: whitesmoke;
  margin: 0;
}

.tabela th {
  background-color: blue;
  color: white;
  text-align: center;
}

.tabela td {
  color: black;
  text-align: center;
}

.jogador-card {
  background-color: rgb(57, 60, 248);
  color: white;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.jogador-card img {
  height: 220px;
  object-fit: cover;
  padding: 12px;
  border-radius: 20px;
}

.jogador-card .card-title {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.jogador-card .card-text {
  color: rgb(47, 0, 255);
}

.card h3 {
  color: rgb(30, 60, 180);
  font-size: 22px;
  font-weight: bold;
}

.rodape {
  background-color: rgb(11, 6, 255);
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}

.rodape p {
  color: white;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 768px) {
  .cabecalho h1 {
    font-size: 30px;
  }

  .cabecalho p {
    font-size: 18px;
  }

  .faixa-clube {
    padding: 30px;
  }
}

.setor{
cursor: pointer;

}

.setor:hover{

background-color: aqua;

}

.titulo-jogador{

color:blue;
text-align: center;
font-size: 30px;
margin-bottom: 50px;


}

.imagem-jogador{

  width:100%;
  max-width: 600px;
  border-radius: 20px;
  display:block;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgb(89, 0, 255);
  


}

.descricao-jogador{

  color: rgb(41, 28, 226);
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}

.camisa-jogador{

color:rgb(11, 6, 255);
font-size: 22px;
text-align: center;
font-weight: bold;


}

.posicao-jogador{

text-align: center;
font-size: 20px;
font-weight: bold;


}

.titulo-detalhe{

text-align: center;
font-size: 50px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}

.botao-voltar{


  margin-bottom: 20px;
  width: 80px;
  border-radius: 15px;
  font-size:18px;
}

.botao-voltar:hover{

transform:scale(1.20);


}

.card-detalhes{

 
  color: rgb(68, 0, 226);
  border: none;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width:90%;
  max-width: 700px;
  margin:50px auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

}


.botao-favorito{

  margin-top: 20px;
  width: 150px;
  color: rgb(241, 241, 241);
  background-color: #1114f5;
  border: none;
  border-radius: 15px;
  font-size:15px;
}

.botao-favorito:hover{
  cursor: pointer;
  transform:scale(1.20);
  background-color: rgb(78, 173, 157);
}

.jogador-card.card-favorito{

border:4px solid gold;
box-shadow: gold;


}

.selo-favorito{

background-color: gold;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;
padding: 3px 0px;
}


.mostrar-favoritos{

background-color: gold;
padding: 10px;
margin: 20px 0;
border-radius: 10px;
border: none;


}

.area-comentarios{

width:100%;
margin-top: 30px;

}

.area-comentarios h3{

text-align: center;
color: blue;
margin-bottom: 15px;

}

.campo-comentario{


width: 80%; 
height:100px;
border-radius: 10px;
padding: 30px;
border: 2px solid blue;
font-size: 16px;


}

.botao-comentar{

margin-top:10px;
width:89%;
background-color: rgb(232, 236, 235);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bold;

}

.lista-comentarios{

margin-top:20px;

}

.comentario{

background-color: #1114f5;
color: white;
padding: 10px;
border-radius:10px ;
margin-bottom: 10px;
font-weight: bold;

display: flex;
justify-content: space-between;
align-items: center;

}

.botao-excluir{

padding: 5px;
background-color: rgba(255, 0, 0, 0.87);
border-radius: 10px;
font-weight: bold;
color: white;
cursor: pointer;
border: none;


}

.botao-excluir:hover{

transform:scale(1.20);
background-color: rgb(83, 12, 12);


}

.botao-editar{

padding: 5px;
background-color: orange;
border-radius: 10px;
color: white;
font-weight: bold;
border: none;
cursor: pointer;

}

.botao-editar:hover{

  transform:scale(1.20);
  background-color: rgb(110, 110, 35);
}

.acoes{

display: flex;
flex-direction: column;
gap: 10px;
padding: 5px;


}

.botao-curtir{

background-color: rgb(86, 123, 145);
border-radius: 50px;
padding: 6px;
color: white;
cursor: pointer;
border:none;
font-weight: bold;
}

.botao-curtir:hover{

transform: scale(1.20);
background-color: red;

}

.nenhum-comentario{

color:black;
font-weight: bold;
text-align: center;
background-color: #1114f5;
color:rgb(255, 255, 255);
padding: 10px;
border: none;
border-radius: 10px;
}

.area-curtidas{

display: flex;
flex-direction: column;
gap:5px;
}

.conteudo-comentario {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.texto-comentario
{

background-color: white;;
color:black;
padding:15px;
border-radius:10px;
display:inline-block;

}

.carrossel-home
{
width:70%;
max-width: 900px;
margin: 50px auto;
text-align: center;
position: relative;


}

.imagem-carrossel
{
width:100%;
height: 300px;
border-radius: 20px;



}

.botao-carrossel
{
position:absolute;
top:50%;
transform: translateY(-50%);
border:none;
padding:10px;
font-weight: bold;
cursor:pointer;


}
.botao-anterior
{
left:5px;

}

.botao-proximo
{
right:5px;


}